workflows/WF-1.4-Estatus-Diarios-QA.json
{
  "name": "WF-1.4 — Estatus Diarios QA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4aaa-8888-111111111101",
      "name": "Cada día 6pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://qaprocess1.atlassian.net/rest/api/3/search/jql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jql",
              "value": "project = KAN AND issuetype in (Task, Bug, Story) AND status != Done ORDER BY updated DESC"
            },
            {
              "name": "maxResults",
              "value": "100"
            },
            {
              "name": "fields",
              "value": "summary,status,priority,assignee,resolution,updated,issuetype"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4aaa-8888-111111111102",
      "name": "Jira: Tasks + Bugs + Stories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "8EVucD4VZzDrIst3",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data   = $input.first().json;\nconst issues = data.issues || [];\nconst today  = new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' });\nconst date   = new Date().toISOString().split('T')[0];\n\nconst priorityColors = {\n  Highest: { bg: '#fee2e2', color: '#b91c1c', icon: '🔴' },\n  High:    { bg: '#fee2e2', color: '#b91c1c', icon: '🔴' },\n  Medium:  { bg: '#fef9c3', color: '#854d0e', icon: '🟡' },\n  Low:     { bg: '#dcfce7', color: '#166534', icon: '🟢' },\n  Lowest:  { bg: '#dcfce7', color: '#166534', icon: '🟢' },\n};\n\nconst statusColors = {\n  'To Do':       { bg: '#f3f4f6', color: '#374151' },\n  'In Progress': { bg: '#dbeafe', color: '#1d4ed8' },\n  'In Review':   { bg: '#fef9c3', color: '#854d0e' },\n  'Done':        { bg: '#dcfce7', color: '#166534' },\n};\n\nconst bugs    = issues.filter(i => i.fields?.issuetype?.name === 'Bug');\nconst tasks   = issues.filter(i => i.fields?.issuetype?.name === 'Task');\nconst stories = issues.filter(i => i.fields?.issuetype?.name === 'Story');\n\nfunction buildRows(items) {\n  return items.map(issue => {\n    const f          = issue.fields || {};\n    const priority   = f.priority?.name || 'Medium';\n    const status     = f.status?.name   || '';\n    const resolution = f.resolution?.name || 'Sin resolver';\n    const assignee   = f.assignee?.displayName || 'Sin asignar';\n    const updated    = (f.updated || '').substring(0, 10);\n    const url        = `https://qaprocess1.atlassian.net/browse/${issue.key}`;\n    const summary    = (f.summary || '').substring(0, 75);\n    const pc = priorityColors[priority] || { bg: '#f4f5f7', color: '#42526e', icon: '⚪' };\n    const sc = statusColors[status]     || { bg: '#f3f4f6', color: '#374151' };\n    return `<tr>\n      <td style=\"border:1px solid #e5e7eb;padding:8px 10px;font-weight:700;white-space:nowrap\">\n        <a href=\"${url}\" style=\"color:#1d4ed8;text-decoration:none\">${issue.key}</a>\n        <div style=\"font-size:11px;color:#6b7280;font-weight:400;max-width:220px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap\">${summary}</div>\n      </td>\n      <td style=\"border:1px solid #e5e7eb;padding:8px 10px;font-size:12px\">${assignee}</td>\n      <td style=\"border:1px solid #e5e7eb;padding:8px 10px;text-align:center\">\n        <span style=\"background:${pc.bg};color:${pc.color};padding:2px 8px;border-radius:12px;font-size:11px;font-weight:700\">${pc.icon} ${priority}</span>\n      </td>\n      <td style=\"border:1px solid #e5e7eb;padding:8px 10px;text-align:center\">\n        <span style=\"background:${sc.bg};color:${sc.color};padding:2px 8px;border-radius:12px;font-size:11px;font-weight:600\">${status}</span>\n      </td>\n      <td style=\"border:1px solid #e5e7eb;padding:8px 10px;font-size:12px;text-align:center;color:#6b7280\">${resolution}</td>\n      <td style=\"border:1px solid #e5e7eb;padding:8px 10px;font-size:12px;text-align:center;color:#6b7280\">${updated}</td>\n    </tr>`;\n  }).join('');\n}\n\nfunction buildSection(title, icon, items, headerBg) {\n  if (!items.length) return '';\n  return `\n    <h3 style=\"margin:20px 0 8px;font-size:14px;color:${headerBg}\">${icon} ${title} (${items.length})</h3>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;margin-bottom:16px\">\n      <tr style=\"background:${headerBg};color:#fff\">\n        <th style=\"padding:9px 12px;border:1px solid #e5e7eb;text-align:left;font-size:12px\">Work</th>\n        <th style=\"padding:9px 12px;border:1px solid #e5e7eb;text-align:left;font-size:12px\">Assignee</th>\n        <th style=\"padding:9px 12px;border:1px solid #e5e7eb;text-align:center;font-size:12px\">Priority</th>\n        <th style=\"padding:9px 12px;border:1px solid #e5e7eb;text-align:center;font-size:12px\">Status</th>\n        <th style=\"padding:9px 12px;border:1px solid #e5e7eb;text-align:center;font-size:12px\">Resolution</th>\n        <th style=\"padding:9px 12px;border:1px solid #e5e7eb;text-align:center;font-size:12px\">Updated</th>\n      </tr>\n      ${buildRows(items)}\n    </table>`;\n}\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f8fafc;font-family:Arial,sans-serif\">\n<div style=\"max-width:820px;margin:0 auto;padding:24px 16px\">\n  <div style=\"background:linear-gradient(135deg,#1e3a5f,#2563eb);color:#fff;padding:20px 24px;border-radius:10px 10px 0 0\">\n    <h2 style=\"margin:0;font-size:20px\">📊 Estatus Diario QA — Proyecto KAN</h2>\n    <p style=\"margin:6px 0 0;font-size:13px;opacity:.85\">${today} | Total activos: ${issues.length}</p>\n  </div>\n  <div style=\"background:#fff;border:1px solid #e5e7eb;border-top:none;padding:24px;border-radius:0 0 10px 10px\">\n    <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:12px;margin-bottom:24px\">\n      <div style=\"background:#fee2e2;border-radius:8px;padding:14px;text-align:center\">\n        <div style=\"font-size:28px;font-weight:700;color:#b91c1c\">${bugs.length}</div>\n        <div style=\"font-size:11px;color:#991b1b;margin-top:4px\">🐛 BUGS</div>\n      </div>\n      <div style=\"background:#dbeafe;border-radius:8px;padding:14px;text-align:center\">\n        <div style=\"font-size:28px;font-weight:700;color:#1d4ed8\">${tasks.length}</div>\n        <div style=\"font-size:11px;color:#1e40af;margin-top:4px\">📋 TASKS</div>\n      </div>\n      <div style=\"background:#f3e8ff;border-radius:8px;padding:14px;text-align:center\">\n        <div style=\"font-size:28px;font-weight:700;color:#7c3aed\">${stories.length}</div>\n        <div style=\"font-size:11px;color:#6d28d9;margin-top:4px\">📖 STORIES</div>\n      </div>\n    </div>\n    ${buildSection('Bugs', '🐛', bugs, '#b91c1c')}\n    ${buildSection('Tasks', '📋', tasks, '#1d4ed8')}\n    ${buildSection('Stories', '📖', stories, '#7c3aed')}\n    <p style=\"margin-top:20px;font-size:11px;color:#9ca3af;text-align:center\">\n      Reporte automático generado a las 18:00 hs | <a href=\"https://qaprocess1.atlassian.net\" style=\"color:#6b7280\">qaprocess1.atlassian.net</a>\n    </p>\n  </div>\n</div></body></html>`;\n\nreturn [{\n  json: {\n    to: 'jaimeqv.2609@gmail.com,javi.gajardo26@gmail.com',\n    subject: `📊 Estatus QA Diario KAN — ${bugs.length} Bugs | ${tasks.length} Tasks | ${stories.length} Stories | ${date}`,\n    html\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-4aaa-8888-111111111103",
      "name": "Procesar + Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3025/send-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4aaa-8888-111111111104",
      "name": "Enviar Gmail Estatus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "content": "📊 WF-1.4 — Estatus Diarios QA\n\nDispara a las 6pm (lun-vie)\nConsulta Jira KAN: Task + Bug + Story\nEnvía email con tabla HTML por tipo\nCampos: Work, Assignee, Priority, Status, Resolution, Updated\n\n⚠️ Requiere email-server.js corriendo en localhost:3025",
        "height": 140,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 120],
      "id": "a1b2c3d4-0005-4aaa-8888-111111111105",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Cada día 6pm": {
      "main": [
        [
          {
            "node": "Jira: Tasks + Bugs + Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Tasks + Bugs + Stories": {
      "main": [
        [
          {
            "node": "Procesar + Construir HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar + Construir HTML": {
      "main": [
        [
          {
            "node": "Enviar Gmail Estatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
