workflows/WF-1.3-Jira-Gmail-WhatsApp.json
{
  "name": "WF-1.3 - Jira Tasks -> Excel + Gmail + WhatsApp",
  "nodes": [
    {
      "id": "74cb9b8f-fbb2-40ae-96db-4148aa60d33d",
      "name": "Cada 2 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "f6e717e7-0618-4bdc-bf7b-c05e011cbf63",
      "name": "Jira: Buscar Tasks nuevas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://qaprocess1.atlassian.net/rest/api/3/search/jql",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "jql",
              "value": "project = KAN AND issuetype = Task AND status = \"To Do\" AND created >= -30m ORDER BY created DESC"
            },
            {
              "name": "maxResults",
              "value": "10"
            },
            {
              "name": "fields",
              "value": "summary,description,status,issuetype,priority,assignee,reporter,created"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Basic amFpbWVxdi4yNjA5QGdtYWlsLmNvbTpBVEFUVDN4RmZHRjBOcC1xZWhIekZTaU1vbHItWEV2TndhemRCMVplcnNQVi1FZ2dBSjVYQ2sxZHBzbHI0MEJCZkR4dzdlOGJJVkoxZkFwZGlmaVU1VG1laEIyQXQ1c0lfZGxaZnRyN1NhczlIc2UwYmRUc0RyaElFOW9oOGJYMERqcVdlQ2xyelJ4OGJFM0VocUFEVzZLUGNSMGpTVDV2WE9fRFgwcjMyVkZjd3lKZFhNUjV3Njg9RDI0NkEzOUI=" },
            { "name": "Content-Type",   "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c49e7e64-bdf9-41c3-b18e-0ee28fa580cb",
      "name": "Hay Tasks nuevas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0078a94a-a031-452f-940e-f7740d7b4213",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ae284026-1979-4c16-9970-7c5f58609a27",
      "name": "Split Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        220
      ],
      "parameters": {
        "jsCode": "\nconst data   = $input.first().json;\nconst issues = data.issues || [];\n\nconst tasks = issues.map(issue => {\n  const f = issue.fields || {};\n  return {\n    key:      issue.key,\n    summary:  (f.summary || '').substring(0, 120),\n    type:     f.issuetype?.name  || 'Task',\n    status:   f.status?.name     || 'To Do',\n    priority: f.priority?.name   || 'Medium',\n    assignee: f.assignee?.displayName || 'Sin asignar',\n    reporter: f.reporter?.displayName || '',\n    created:  (f.created || '').substring(0, 10),\n    url:      'https://qaprocess1.atlassian.net/browse/' + issue.key,\n    description: (() => {\n      const d = f.description;\n      if (!d) return '';\n      if (typeof d === 'string') return d.substring(0, 200);\n      try {\n        return (d.content||[]).flatMap(b=>(b.content||[]).map(c=>c.text||'')).join(' ').substring(0,200);\n      } catch { return ''; }\n    })(),\n  };\n});\n\nconst fecha = new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' });\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{ json: { tasks, total: tasks.length, fecha, date: today } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "441bca19-2213-416e-9f5e-b35e5d9fa82f",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        220
      ],
      "parameters": {
        "jsCode": "\nconst item  = $input.first().json;\nconst tasks = item.tasks || [];\nconst fecha = item.fecha || '';\n\nconst lines = tasks.map(t =>\n  `📋 *${t.key}* — ${t.summary}\\n` +\n  `   Prioridad: ${t.priority} | Asignado: ${t.assignee}\\n` +\n  `   ${t.url}`\n).join('\\n\\n');\n\nconst msg =\n  `🆕 *Nueva Task QA — KAN*\\n` +\n  `Fecha: ${fecha}\\n` +\n  `Total: ${tasks.length} task(s)\\n\\n` +\n  lines;\n\nreturn [{ json: { ...item, mensajeWhatsApp: encodeURIComponent(msg) } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "272d3a3f-0c01-44ce-81d3-49608e665a1f",
      "name": "Generar Excel y Enviar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3025/run-jira-tasks-report",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "7ae4911e-ee63-410e-8b54-4f0048c4d46c",
      "name": "WhatsApp Jaime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        180
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5973473222"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar Datos').item.json.mensajeWhatsApp }}"
            },
            {
              "name": "apikey",
              "value": "PENDIENTE_APIKEY_JAIME"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "7f33369f-4f50-4a87-ba7d-3a965114e4cd",
      "name": "WhatsApp Javi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "56934228272"
            },
            {
              "name": "text",
              "value": "={{ $('Preparar Datos').item.json.mensajeWhatsApp }}"
            },
            {
              "name": "apikey",
              "value": "PENDIENTE_APIKEY_JAVI"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "a1b5a13a-2956-47ab-9f79-c8edc0f2e2cf",
      "name": "Sin Tasks nuevas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        820,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Cada 2 minutos": {
      "main": [
        [
          {
            "node": "Jira: Buscar Tasks nuevas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira: Buscar Tasks nuevas": {
      "main": [
        [
          {
            "node": "Hay Tasks nuevas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Tasks nuevas?": {
      "main": [
        [
          {
            "node": "Split Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Tasks nuevas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Issues": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Generar Excel y Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel y Enviar Email": {
      "main": [
        [
          {
            "node": "WhatsApp Jaime",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Javi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}