workflows/WF-1.6-Jira-Task-Story-SDD-PDF.json
{
  "name": "WF-1.6 — Jira Task/Story → SDD PDF + Gmail + WhatsApp",
  "nodes": [
    {
      "parameters": {
        "content": "📋 WF-1.6 — Trazabilidad Jira Task/Story → SDD PDF\n\n═══ SDD DEL WORKFLOW ═══\n\nTítulo: Generación automática de SDD al crear Task/Story en Jira KAN\n\nProblema: Sin documentación inmediata, las Tasks/Stories nuevas no tienen caso de prueba asociado al momento de ser creadas en Jira.\n\nObjetivo: Verificar que al crear una Task o Story en KAN, el sistema genera un PDF SDD con las 9 secciones en C:\\QA\\Reports\\ y notifica al equipo en menos de 5 minutos.\n\nCriterios de aceptación:\n• Dado que se crea Task/Story en Jira KAN\n  Cuando tiene CUALQUIER prioridad\n  Entonces se genera PDF SDD, se envía Gmail y WhatsApp\n\n⚠️ PENDIENTE: Reemplazar TWILIO_ACCOUNT_SID,\nTWILIO_AUTH_TOKEN y TWILIO_FROM_NUMBER con credenciales reales\n⚠️ Requiere: node email-server.js en localhost:3025\n⚠️ Requiere: npm install pdfkit (una sola vez)",
        "height": 380,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 80],
      "id": "c3d4e5f6-0001-4ccc-aaaa-333333333301",
      "name": "SDD del Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/5 * * * *" }]
        }
      },
      "id": "c3d4e5f6-0002-4ccc-aaaa-333333333302",
      "name": "Cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [640, 340]
    },
    {
      "parameters": {
        "url": "https://qaprocess1.atlassian.net/rest/api/3/search/jql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "jql",        "value": "project = KAN AND issuetype in (Task, Story) AND created >= -6m ORDER BY created DESC" },
            { "name": "maxResults", "value": "20" },
            { "name": "fields",     "value": "summary,description,status,issuetype,priority,assignee,reporter,created" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4ccc-aaaa-333333333303",
      "name": "Jira: Tasks y Stories nuevas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 340],
      "credentials": {
        "httpBasicAuth": { "id": "8EVucD4VZzDrIst3", "name": "Unnamed credential" }
      }
    },
    {
      "parameters": {
        "jsCode": "const data       = $input.first().json;\nconst issues     = data.issues || [];\nconst staticData = $getWorkflowStaticData('global');\nconst processed  = staticData.processedIds || [];\n\nconst nuevos = issues.filter(i => !processed.includes(i.id));\n\nconst allIds = [...new Set([...processed, ...issues.map(i => i.id)])];\nstaticData.processedIds = allIds.slice(-500);\n\nconst fecha = new Date().toLocaleString('es-CL', { timeZone: 'America/Santiago' });\nconst date  = new Date().toISOString().split('T')[0];\n\nif (nuevos.length === 0) return [{ json: { skip: true, fecha, date } }];\n\nreturn nuevos.map(issue => {\n  const f = issue.fields || {};\n  return { json: {\n    key:         issue.key,\n    id:          issue.id,\n    summary:     (f.summary || '').substring(0, 120),\n    description: f.description || null,\n    priority:    f.priority?.name  || 'Medium',\n    assignee:    f.assignee?.displayName || 'Sin asignar',\n    reporter:    f.reporter?.displayName || '',\n    issuetype:   f.issuetype?.name || 'Task',\n    created:     (f.created || '').substring(0, 10),\n    url:         `https://qaprocess1.atlassian.net/browse/${issue.key}`,\n    fecha,\n    date,\n    skip: false\n  }};\n});"
      },
      "id": "c3d4e5f6-0004-4ccc-aaaa-333333333304",
      "name": "Validación duplicidad Tareas Jira",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "skip-check-001",
              "leftValue": "={{ String($json.skip) }}",
              "rightValue": "false",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-0012-4ccc-aaaa-333333333312",
      "name": "¿Hay tareas nuevas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 340]
    },
    {
      "parameters": {},
      "id": "c3d4e5f6-0013-4ccc-aaaa-333333333313",
      "name": "Sin tareas nuevas en Jira",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1600, 520]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst { key, summary, description, priority, assignee, reporter, issuetype, created, url, fecha, date } = item;\n\nfunction extractText(desc) {\n  if (!desc) return null;\n  if (typeof desc === 'string') return desc.substring(0, 400);\n  try {\n    return (desc.content || [])\n      .flatMap(b => (b.content || []).map(c => c.text || ''))\n      .join(' ').substring(0, 400).trim();\n  } catch { return null; }\n}\n\nconst descText = extractText(description);\nconst PC = '[Por completar]';\n\nconst sdd = {\n  titulo:    summary || PC,\n  problema:  descText || `${PC} — describir la necesidad de negocio o del usuario`,\n  contexto:  `Tipo: ${issuetype}. Proyecto: KAN. Asignado: ${assignee}. Reportado por: ${reporter || PC}. Creado: ${created}.`,\n  objetivo:  summary ? `Verificar que el sistema implementa correctamente: ${summary.substring(0, 80)}` : PC,\n  alcance: {\n    incluye:   [`${PC} — funcionalidad principal`, `${PC} — caso de exito`],\n    noIncluye: [`${PC} — integraciones externas`, `${PC} — datos historicos`],\n  },\n  comportamiento: {\n    flujo:     [`${PC} — paso 1`, `${PC} — paso 2`, `${PC} — paso 3`],\n    edgeCases: [`${PC} — caso borde 1`, `${PC} — caso borde 2`],\n  },\n  criterios: [\n    `Dado ${PC} Cuando ${PC} Entonces ${PC}`,\n    `Dado ${PC} Cuando ${PC} Entonces ${PC}`,\n  ],\n  restricciones: {\n    tecnicas:  `${PC} — ej: tiempo de respuesta menor a 3 segundos`,\n    negocio:   `${PC} — ej: reglas de negocio aplicables`,\n    seguridad: `${PC} — ej: autenticacion requerida`,\n  },\n  notas: `Issue: ${key} | Tipo: ${issuetype} | Prioridad: ${priority} | Asignado: ${assignee} | Reportado: ${reporter || 'N/A'} | Creado: ${created} | Link: ${url}`,\n};\n\nreturn [{ json: { ...item, sdd } }];"
      },
      "id": "c3d4e5f6-0005-4ccc-aaaa-333333333305",
      "name": "Construir SDD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3025/generate-sdd-pdf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0006-4ccc-aaaa-333333333306",
      "name": "Generar PDF SDD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 340]
    },
    {
      "parameters": {
        "jsCode": "const pdfData   = $input.first().json;\nconst issueData = $('Construir SDD').item.json;\n\nconst { key, summary, priority, assignee, issuetype, fecha, date, url, sdd } = issueData;\nconst { pdfBase64, fileName } = pdfData;\n\nconst pIcon = ['Critical', 'Highest', 'High'].includes(priority) ? '🔴' : priority === 'Medium' ? '🟡' : '🟢';\n\nconst html = `<!DOCTYPE html><html><head><meta charset='UTF-8'></head>\n<body style='margin:0;padding:0;background:#eff6ff;font-family:Arial,sans-serif'>\n<div style='max-width:700px;margin:0 auto;padding:24px 16px'>\n  <div style='background:linear-gradient(135deg,#1e3a5f,#2563eb);color:#fff;padding:20px 24px;border-radius:10px 10px 0 0'>\n    <h2 style='margin:0;font-size:18px'>📋 Nuevo ${issuetype} — SDD Generado Automaticamente</h2>\n    <p style='margin:6px 0 0;font-size:13px;opacity:.85'>${fecha} | ${key} | ${pIcon} ${priority}</p>\n  </div>\n  <div style='background:#fff;border:1px solid #bfdbfe;border-top:none;padding:24px;border-radius:0 0 10px 10px'>\n    <div style='background:#dbeafe;border-radius:8px;padding:16px;margin-bottom:20px'>\n      <div style='font-size:15px;font-weight:700;color:#1e3a5f'>${key}: ${summary}</div>\n      <div style='font-size:12px;color:#1e40af;margin-top:6px'>Asignado: ${assignee} | Tipo: ${issuetype}</div>\n      <div style='margin-top:8px'><a href='${url}' style='color:#2563eb;font-size:12px'>Ver en Jira →</a></div>\n    </div>\n    <table width='100%' cellpadding='0' cellspacing='0' style='border-collapse:collapse'>\n      <tr style='background:#1e3a5f;color:#fff'>\n        <th colspan='2' style='padding:9px 14px;text-align:left;font-size:12px'>📄 Resumen SDD</th>\n      </tr>\n      <tr><td style='border:1px solid #bfdbfe;padding:8px 12px;font-weight:700;font-size:11px;width:28%;background:#f0f9ff'>Titulo</td><td style='border:1px solid #bfdbfe;padding:8px 12px;font-size:11px'>${sdd.titulo}</td></tr>\n      <tr><td style='border:1px solid #bfdbfe;padding:8px 12px;font-weight:700;font-size:11px;background:#f0f9ff'>Problema</td><td style='border:1px solid #bfdbfe;padding:8px 12px;font-size:11px'>${sdd.problema}</td></tr>\n      <tr><td style='border:1px solid #bfdbfe;padding:8px 12px;font-weight:700;font-size:11px;background:#f0f9ff'>Objetivo</td><td style='border:1px solid #bfdbfe;padding:8px 12px;font-size:11px'>${sdd.objetivo}</td></tr>\n      <tr><td style='border:1px solid #bfdbfe;padding:8px 12px;font-weight:700;font-size:11px;background:#f0f9ff'>Contexto</td><td style='border:1px solid #bfdbfe;padding:8px 12px;font-size:11px'>${sdd.contexto}</td></tr>\n    </table>\n    <p style='margin-top:16px;font-size:12px;color:#6b7280'>📎 SDD completo adjunto en PDF. Las secciones [Por completar] deben ser llenadas por el QA asignado.</p>\n  </div>\n</div></body></html>`;\n\nconst emailPayload = {\n  to:         'jaimeqv.2609@gmail.com,javi.gajardo26@gmail.com',\n  subject:    `📋 SDD ${key} — ${issuetype} | ${priority} | ${summary.substring(0, 50)}`,\n  html,\n  fileName,\n  fileBase64: pdfBase64,\n};\n\nconst waMensaje = `📋 *Nuevo ${issuetype} QA — ${key}*\\n${fecha}\\n\\n*${summary}*\\n\\nPrioridad: ${pIcon} ${priority}\\nAsignado: ${assignee}\\n\\n📄 SDD generado y enviado por email.\\n🔗 ${url}`;\n\nreturn [{ json: { ...issueData, pdfBase64, fileName, emailPayload, mensajeWhatsApp: encodeURIComponent(waMensaje) } }];"
      },
      "id": "c3d4e5f6-0007-4ccc-aaaa-333333333307",
      "name": "Preparar Email + WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3025/send-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.emailPayload) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0009-4ccc-aaaa-333333333309",
      "name": "Enviar Gmail + PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "whatsapp:+TWILIO_FROM_NUMBER" },
            { "name": "To",   "value": "whatsapp:+56973473222" },
            { "name": "Body", "value": "={{ $('Preparar Email + WA').item.json.mensajeWhatsApp }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "c3d4e5f6-0010-4ccc-aaaa-333333333310",
      "name": "WhatsApp Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 460],
      "credentials": {
        "httpBasicAuth": {
          "id": "PENDIENTE_TWILIO_CREDENTIAL",
          "name": "Twilio QA"
        }
      }
    }
  ],
  "connections": {
    "Cada 5 minutos": {
      "main": [[{ "node": "Jira: Tasks y Stories nuevas", "type": "main", "index": 0 }]]
    },
    "Jira: Tasks y Stories nuevas": {
      "main": [[{ "node": "Validación duplicidad Tareas Jira", "type": "main", "index": 0 }]]
    },
    "Validación duplicidad Tareas Jira": {
      "main": [[{ "node": "¿Hay tareas nuevas?", "type": "main", "index": 0 }]]
    },
    "¿Hay tareas nuevas?": {
      "main": [
        [{ "node": "Construir SDD",             "type": "main", "index": 0 }],
        [{ "node": "Sin tareas nuevas en Jira", "type": "main", "index": 0 }]
      ]
    },
    "Construir SDD": {
      "main": [[{ "node": "Generar PDF SDD", "type": "main", "index": 0 }]]
    },
    "Generar PDF SDD": {
      "main": [[{ "node": "Preparar Email + WA", "type": "main", "index": 0 }]]
    },
    "Preparar Email + WA": {
      "main": [[
        { "node": "Enviar Gmail + PDF", "type": "main", "index": 0 },
        { "node": "WhatsApp Twilio",    "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
